{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<!--<div class="container">-->
<div class="row">
    <div class="col-sm-6 mx-auto" style="margin-top: 70px">
        <div class="form-group row">
            <h1>The Key nutrients you need</h1><br>
            <h4>Diet and workout tips to stay fit in your 20s</h4><br>
            <p>With crazy study schedules and even crazier late night outings, most people in their 20s are
                constantly on the move. Hectic days and sleepless nights are just a part of everyday life, and
                usually the one thing missing is an ideal fitness regime. Now, if you’re interested in washboard abs
                and your health in general, doctors and fitness experts say that 20s is the ideal time to get
                started — especially with your body surging with energy and vitality.</p><br>
            <img src="{% static 'myapp/images/LE TAUCI Pasta Bowls 45 Ounce, Large Salad Bowls and Serving Bowls, Soup Bowl，Ceramic Pasta Plates, Set of 4, White.jfif'%}"
                 alt="">
            <h4>Snack Smart</h4><br>

            <p>Load up your desk drawer or office fridge with these healthy treats.<br>

                Greek yogurt (6 ounces) with 1 tablespoon chopped walnuts
                Reduced-fat string cheese and 10 whole-grain crackers
                Granola bar and a nonfat latte
                4 ounces nonfat cottage cheese and a mini box of raisins
                6 dried apricots and 2 tablespoons sunflower seeds
                Energy bar and 12 almonds
                20 mini carrots dipped in 1/4 cup hummus
                Single-serve vanilla soy milk and 1/2 cup whole-grain cereal</p><br>
            <h4>Your 20-Something Meal Plan</h4><br>
            <b>1.Breakfast:</b>
            <p> 24-ounce Jamba Juice Protein Berry Pizzazz Smoothie. It's packed with protein to keep you
                satisfied. (Or whip up one of these healthy smoothies at home.)</p><br>
            <b>2.Morning Snack:</b>
            <p>
                1 packet instant oatmeal sprinkled with 1 tablespoon ground flaxseed</p><br>
            <b>3.Lunch:</b>
            <p>
                Asian grilled-chicken salad with mixed greens, edamame, mandarin oranges, tomatoes, and
                low-fat vinaigrette</p><br>
            <b>4.Afternoon Snack: </b>
            <p>
                Medium orange and 1 tablespoon chopped walnuts</p><br>
            <b>5.Evening Treat:</b>
            <p>
                Gingerbread ice cream sandwich (fill 2 gingersnaps with one-half cup light vanilla
                ice cream)</p><br>
            <b>6.Dinner:</b>
            <p>
                7 pieces sushi and 1 cup edamame</p><br>
            <h4>Exercises to get pumped up</h4>
            <p>First things first, start with a warm-up and try to work out at least 3 times a week. If you have
                started working out recently, a 20 minutes session will do for the first few weeks. Go for dynamic
                stretches and post exercise finish with a cool-down ritual without fail</p>
            <h4>Push-ups:</h4>
            <p>Never underestimate the power of push-ups. It increases the whole body muscle definition, which
                results in the production of human growth hormone (HGH). It also increases your testosterone level
                and reduces lower back injuries. Do three sets of 10 repetitions (reps).Build the muscles in your
                shoulders and chest with this foundational exercise<br>
                STEPS:<br>
                1. Get down on all fours, placing your hands slightly wider than your shoulders.<br>
                2. Straighten your arms and legs.<br>
                3. Lower your body until your chest nearly touches the floor.<br>
                4. Pause, then push yourself back up.<br>
                5. Repeat. </p><br>
            <img src="{% static 'myapp/images/push ups.jfif'%}" alt=""><br>
            <h5>Burpee:</h5>
            <p>
                As it works for your entire body, doing it with a little intensity will help you burn
                more calories in less time. Do three sets of 10 reps.
                The easiest way to describe a burpee is to think of it as a pushup followed by a jump squat.<br>

                How to do a burpee with correct form<br>
                1.Start in a squat position with your knees bent, back straight, and your feet about shoulder-width
                apart.<br>
                2.Lower your hands to the floor in front of you so they’re just inside your feet.<br>
                3.With your weight on your hands, kick your feet back so you’re on your hands and toes, and in a pushup
                position.<br>
                4.Keeping your body straight from head to heels, do one pushup. Remember not to let your back sag or to
                stick your butt in the air.<br>
                5.Do a frog kick by jumping your feet back to their starting position.<br>
                6.Stand and reach your arms over your head.<br>
                7.Jump quickly into the air so you land back where you started.<br>
                As soon as you land with knees bent, get into a squat position and do another repetition
            </p><br>
            <img src="{% static 'myapp/images/burpees.jfif'%}" alt=""><br>
            <h5>Squats: </h5>
            <p>
                Squats help build muscles throughout your body especially your knee muscles, helps burn fat,
                improves your digestion, blood circulation and flexibility and increase your core strength. Do three
                sets of 15 reps.<br>
                Here's a primer on how exactly to do the perfect squat.<br>

                1.Stand facing forward with your chest up.<br>
                2.Place your feet shoulder-width apart or slightly wider. Extend your hands straight out in front of you
                to help keep your balance. You can also hold your hands at chest level or place them behind your head.
                Bend at your knees and hips, sticking your butt out like you're sitting into an imaginary chair. Keep
                your chest lifted and your spine neutral, and do not let your lower back round.<br>
                3.Squat down as low as you can, keeping your head and chest lifted. Keep your knees over your ankles<br>
                4.press your weight back into your heels.<br>
                5.Keep your body tight, and push through your heels to bring yourself back to the starting position.<br>
            </p><br>
            <<img src="{% static 'myapp/images/squats.png'%}" alt=""><br>
            <h5>Lunges: </h5>
            <p>
                Lunges can help shape your lower body by strengthening your buttocks and legs. It also develops core
                strength, make your hips flexible and give your spine the much-required rest and recovery,
                especially after a workout. Do three sets of 10 reps<br>
                The basic lunge works the quads, glutes, and hamstrings. To correctly do a lunge:<br>

                1.Start by standing up tall.<br>
                2.Step forward with one foot until your leg reaches a 90-degree angle. Your rear knee should remain<br>
                3.parallel to the ground and your front knee shouldn’t go beyond your toes.<br>
                4.Lift your front lunging leg to return to the starting position.<br>
                5.Repeat 10 to 12 reps on one leg, or switch off between legs until you’ve totaled 10 to 12 reps per
                leg.<br>
            </p><br>
            <img src="{% static 'myapp/images/lunges.jfif'%}" alt=""><br>
            <h5>Nutrition info for the day:</h5>
            <p>1,941 calories, 100g protein, 40g fat (5g sat), 293g carbs, 34g fiber</p>
        </div>
        <br>
        <div class="form-group row">
            <h4>Diet and workout tips to stay fit in your 30s</h4>
            <h5>5 Ingredients, 5 Minutes, 5 Lunches</h5>
            <p>You do have time for lunch! Here, healthy meals for about 400 calories.<br>
                Mediterranean Tuna Salad: Toss 3 ounces light tuna with 1 chopped tomato, 1/2 diced cucumber, 1 cup
                white beans, and 2 tablespoons Italian dressing.<br>
                Almond Butter and Pear Sandwich: Spread 2 slices whole wheat bread with 1 tablespoon almond butter.
                Top with 1/2 small sliced pear and 1 teaspoon honey. Enjoy with a glass of nonfat milk.<br>
                Tex-Mex Turkey Wrap: In a medium whole wheat tortilla, fold 3 ounces sliced turkey breast, 1/4
                sliced avocado, 1/4 cup low-fat shredded cheddar cheese, and 2 tablespoons salsa.<br>
                Ham and Brie Sandwich: Spread 1 tablespoon honey mustard on 2 pieces pumpernickel bread. Top with 2
                ounces ham, 1 ounce Brie, lettuce, and tomato.<br>
                Smoked Salmon Bagel: Spread 1 tablespoon whipped cream cheese on a whole wheat bagel. Top with 2
                ounces smoked salmon, sliced red onion, and 2 teaspoons capers.</p>
            <h4>Your 30-Something Meal Plan</h4><br>
            <b>1.Breakfast:</b>
            <p>
                Whole wheat English muffin topped with 2 tablespoons natural peanut butter and 1/2
                small sliced banana, and 1 cup calcium and vitamin D-fortified orange juice</p><br>
            <b>2.Morning Snack:</b>
            <p>
                1/2 cup Cheerios with 1/2 cup 1-percent or nonfat milk</p><br>
            <b>3.Lunch:</b>
            <p>
                Curried shrimp salad (boil 10 shrimp and mix with 1 tablespoon mayonnaise and 1 teaspoon
                curry powder) in a whole wheat pita, and 1 cup watermelon chunks</p><br>
            <b>4.Afternoon Snack:</b>
            <p>
                6-ounce container light yogurt with 1/2 cup raspberries</p><br>
            <b>5.Evening Treat:</b>
            <p>
                1 ounce dark chocolate</p><br>
            <b>6..Dinner:</b>
            <p>
                Chickpea salad (toss 1/2 cup canned, drained chickpeas, 4 ounces lean flank steak, grilled or broiled,
                topped with 2 tablespoons teriyaki sauce, 2 cups baby
                spinach sautéed in 1 teaspoon olive oil, and 1 medium baked sweet potato</p><br>
            <h4>Nutrition info for the day: </h4>
            <p>
                1,868 calories, 94g protein, 64g fat (17g sat), 243g carbs, 34g fiber
            </p><br>
            <h5>GET REAL</h5>
            <p>
                You're thirty, not fifteen anymore -accept this truth gracefully and work smartly around it. Just
                because you were the school champion in athletics does not mean that you can overnight begin to
                train with the same intensity that you did fifteen years ago.
            </p><br>
            <h4>Exercises to get pumped up</h4><br>
            <p>First things first, start with a warm-up and try to work out at least 3 times a week. If you have
                started working out recently, a 20 minutes session will do for the first few weeks. Go for dynamic
                stretches and post exercise finish with a cool-down ritual without fail</p><br>
            <h5>Jumping jacks: </h5><br>
            <p>
                Jumping jacks, as they are known in the American subcontinent, is an intensely physical jumping
                exercise. As the name suggests, it largely involves jumping – and therein lies the challenge!
                A basic, cardiovascular exercise that can be done in limited space.<br>
                STEPS:<br>

                1. Stand upright with your legs together, arms at your sides.<br>
                2. Bend your knees slightly, and jump into the air.<br>
                3. As you jump, spread your legs to be about shoulder-width apart. Stretch your arms out and over your
                head.<br>
                4. Jump back to starting position.<br>
                5. Repeat.<br>
            </p><br>
            <img src="{% static 'myapp/images/Jumping Jacks _.jfif'%}" alt=""><br>
            <h5>Side stretch exercise: </h5><br>
            <p>
                This exercise also focuses on burning excess fat from the sides of your stomach. Do it regularly to
                feel the difference.<br>

                Here's how you must do this exercise:<br>

                1.Stand straight with an erect spine.<br>
                2.Raise your arms above your head, interlock your fingers with the palms facing upwards.<br>
                3.Gently sway towards your right. Keep your hands stretched as you bend sideways. Do not bend
                downward or forward.<br>
                4.Repeat the same steps for the left side.<br>
                5.Do ten rounds for each side and three sets of this exercise to gain the best result.<br>
                6.This is one of the simplest yet most challenging and most effective of all exercises.<br>
            </p><br>
            <img src="{% static 'myapp/images/side stretch.jfif'%}" alt=""><br>
            <h5>Toe touch exercise:</h5><br>
            <p>
                This exercise helps in burning fat from the tummy. As you bend down to touch your toes, you will
                exert some pressure on the abdomen muscles.<br>

                Here's how you must do this exercise:<br>

                1.Stand straight with an erect spine.<br>
                2.Take a deep breath as you raise your arms towards the roof, and then gently bend down to touch
                your<br>
                toes as you exhale.<br>
                3.You may not be able to bend down till your ankle or feet in the first attempt. But set a goal.<br>
                4.Don't exert yourself but try bending as much as you can.<br>
                5.Bend at least ten to fifteen times.<br>
                6.Repeat three sets.<br>
            </p><br>
            <img src="{% static 'myapp/images/toe touch.jfif'%}" alt=""><br>
            <h5>Standing knee cross crunches:</h5><br>
            <p>
                This exercise will help burn excess fat from the belly area because the focus will be on your
                abdomen.<br>

                Here's how you must do this exercise:<br>

                1.Stand straight with an erect spine.<br>
                2.Interlock your fingers behind your head and keep your arms firmly aligned with your head.<br>
                3.Raise your right leg to the level of your ab while bending the knee and touch your left elbow with
                your right knee as you slightly move your torso forward. Lower your right leg and raise your left
                leg to the level of your stomach. Now, touch your right elbow with your left knee while moving your
                torso forward. Do about ten rounds for both the legs.<br>
                4.Repeat three sets of this exercise.<br>
            </p><br>
            <img src="{% static 'myapp/images/cross knee.jfif'%}" alt=""><br>
        </div>
    </div>
</div>
{% endblock %}