{% extends 'myapp/base.html' %}
{% block content %}
{% load static %}
<!--<div class="container">-->
<div class="row">
    <div class="col-sm-6 mx-auto" style="margin-top: 70px">
        <div class="form-group row">
            <h1>The Key nutrients you need</h1>
            <h4>Diet and workout tips to stay fit after 60s</h4>
            <p>Keeping a healthy weight is a worthwhile goal at any age. As you get older, it can get trickier. You
                might not be burning calories like you did when you were younger, but you can still take off extra
                pounds.</p>
            <img src="{% static 'myapp/images/diet sen.jfif'%}"
                 alt="">
            <h4>Snack Smart</h4>

            <p>you're at risk for losing muscle mass, make sure your diet includes about one gram of protein to every
                kilogram (2.2 pounds) of body weight. "Protein also keeps you full for longer, so that helps with weight
                loss efforts," Li says. She recommends wild salmon, whole eggs, organic whey protein powder, and
                grass-fed beef.Drink plenty of water. Sometimes, thirst masks itself as hunger. As you get older, you
                may not be as quick to notice when you're thirsty, Li says. She says you should get 64 ounces of water a
                day. </p><br>
            <h4>Nutrition needs when you’re over 60</h4>
            <b>1.Breakfast:</b>
            <p> Eggs are one of the best ingredients for you, Spinach Omelette,Oatmeal and Fresh Fruits
                Oats are an excellent food choice since they make for quick preparations and are high on nutrients.
            </p><br>
            <b> 2.Morning Snack:</b>
            <p>
                Fruit Salad,Breakfast Potatoes
            </p><br>
            <b> 3.Lunch:</b>
            <p>
                Eat a wide variety of foods from the five food groups: plenty of colourful vegetables,
                legumes/beans; fruit; grain (cereal) foods, mostly wholegrain and high fibre varieties; lean meats and
                poultry, fish, eggs, tofu, nuts and seeds; milk, yoghurt, cheese or their alternatives, mostly reduced
                fat.
            </p><br>
            <b>4.Afternoon Snack:</b>
            <p>
                Baked apple chips sprinkled with cinnamon, Hummus with carrots and cucumber slices.
            </p><br>
            <b>5.Evening Treat: </b>
            <p>
                Frozen grapes or a frozen banana.
            </p><br>
            <b>6.Dinner:</b>
            <p>
                plenty of fruit and vegetables — aim for at least 5 portions of vegetables and 2 portions of
                fruit a day.
                some bread, rice, potatoes, pasta and other starchy foods — choose wholegrain varieties if you can.
                some milk and dairy foods.
            </p><br>
            <h4>Exercises to get pumped up</h4>
            <p>Our biology changes as we get older, causing seniors to have different reasons for staying in shape than
                younger generations. Though physical fitness provides benefits at any age, the health perks physically
                fit seniors enjoy are more notable.
                Before you launch into an exercise regimen, it’s important to check with a physician to ensure you’re
                healthy enough for exercise, and to see which exercises are ideal for your current fitness level.

            </p><br>
            <h4>Water aerobics:</h4>
            <img src="{% static 'myapp/images/water aerobics.jfif'%}" alt="">
            <p>Water aerobics (waterobics, aquatic fitness, aquafitness, aquafit) is the performance of aerobic exercise
                in water such as in a swimming pool. Done mostly vertically and without swimming typically in waist deep
                or deeper water, it is a type of resistance training. Water aerobics is a form of aerobic exercise that
                requires water-immersed participants.</p><br>
            <b>1.Aqua Jogging: </b>
            <p>
                Aqua jogging is the perfect aerobic, low-impact exercise to get the heart pumping and
                blood flowing throughout the body. Aqua jogging can be as simple as jogging through the water from one
                side of the pool to the other. This exercise can also be simplified to walking back and forth in the
                pool or jogging or marching in place.</p>
            </p><br>
            <b>2. Flutter Kicking: </b>
            <p>
                Flutter kicking is another great low-impact cardio exercise. This exercise can be performed with or
                without a kickboard. With a kickboard, hold it out in front of you and flutter kick your legs to propel
                you back and forth across the pool. You can also flutter kick without a kickboard if one is not
                available. Perform a front float with your head above water while holding onto the side of the pool and
                flutter kick your legs. Whichever way you do it, kick at a steady tempo that doesn’t tire you too
                quickly but also gets the heart pumping.
            </p><br>
            <b>3. Leg Lifts: </b>
            <p>
                Using the resistance of the water, leg lifts work all of the muscles in the legs. For this exercise,
                stand in the pool and lift one leg out to the side and back down. Repeat until your leg feels tired,
                then switch legs and perform the exercise on the other leg. Not only does this exercise work the legs,
                it also improves balance and strengthens your core.
            </p><br>
            <b>4. Standing Water Push-ups: </b>
            <p>
                Water push-ups are a great way to build arm, chest, and shoulder strength without putting too much
                pressure on the joints. Stand along the side of the pool and place your hands a little wider than
                shoulder-width apart on the gutter or edge of the pool. Bend your arms and lean in toward the wall, then
                push yourself back out. Repeat this exercise slowly and until your arms feel tired. Be careful not to
                push it too hard until you know your limits.
            </p><br>
            <b>5. Arm Curls: </b>
            <p>
                For this exercise, stand in the middle of the pool with water weights. Water weights don’t have to be
                used, but they do offer extra resistance. Hold the weights in front of you, arms in front with palms
                facing out. Curl the weights up then back down and repeat until fatigue. This exercise can also be done
                with palms facing toward you instead of away with the same curling motion.
            </p><br>

            <h5>Chair yoga:</h5>
            <img src="{% static 'myapp/images/Chair Yoga.jfif'%}" alt="">
            <p>
                As we age, we need to adjust our habits and lifestyles to thrive. Joint pain, achy muscles, fatigue,
                and other common age-related ailments can make exercise more difficult. These concerns often drive
                seniors to an inactive or sedentary lifestyle, which only makes things worse. Fortunately, chair yoga is
                an accessible and affordable style of exercise with incredible benefits for older adults.</p><br>
            <b> 1. The Seated Mountain Asana: </b>
            <p>
                This pose is called the ‘Tadasana’ and helps in engaging the core while keeping a check on your body
                posture and breathing. This seated yoga asana for seniors is the basic pose that you have to start and
                end with, even while doing other asanas. For the seated mountain pose, you have to take a deep breath
                and sit straight and extend your spine. Keep your legs at 90° while keeping your feet planted on the
                ground. Ensure that the yoga seat is comfortable enough for you so you can practice this pose
                conveniently. When you inhale and extend your spine, make sure that you stretch your feet on the floor
                in a way similar to how roots of trees expand. As you exhale, draw your belly button inwards and roll
                your shoulders back and downwards.</p><br>
            <b> 2. Warrior I Asana:</b>
            <p>
                Also known as Virabhadrasana, this chair yoga position helps in better blood flow in the body. All you
                have to do is take the seated mountain position and take a deep breath. As you inhale, lift the arms to
                the sides and raise your hands so that they meet above your head. After this, lace your fingers together
                in a way that your pointer fingers and thumbs are facing outwards towards the ceiling and above your
                head. As you exhale, roll the shoulders away from the ears and allow the shoulder blades to slide down.
                This chair yoga pose for the elderly helps engage the muscle that holds the shoulder joints i.e. the
                shoulder capsule. Keep taking deep and even breaths as you settle; ensure that you take at least 5 deep
                breaths before releasing your clasped hands and exhaling, and let your arms float back to your sides
                gently.</p><br>
            <b>3. The Seated Eagle Arms Asana:</b>
            <p>
                Referred to as the ‘Garudasana Arms’, this chair yoga pose helps in stabilising and flexing the shoulder
                joints and relaxes the upper back. Start again by sitting in the seated mountain pose and take a deep
                breath. As you inhale, stretch your arms to your sides and as you exhale, bring them in front of you.
                Swing the right arm under the left arm and grab your shoulder with the opposite hand in a way that you
                seem to hug yourself. Hold the pose while you inhale and exhale deeply. Untangle your arms and gently
                place them on your thighs to rest.</p><br>
            <b>4. The Seated Forward Bend Position Asana:</b>
            <p>
                One of the chair yoga exercises that can increase flexibility is the seated forward bend position. Also
                known as ‘Paschimottanasana’. Inhale, extend your spine and fold your legs while being seated in the
                tadasana pose. As you exhale, slowly bend forward over your thighs while keeping your hands on your lap
                for support. As you settle in the pose, try to keep your arms on your sides as it will help in engaging
                your core muscles. Hold the seated forward bent position for a while (3-5 breaths) and then slowly
                return to the seated mountain position.</p><br>
            <b>5. Simple Seated Twist Asana:</b>
            <p>
                The simple seated twist or the Parivrtta Sukhasana is a gentle chair yoga asana for seniors that helps
                in reducing lower back pain and improving digestion and blood circulation. This yoga pose is also known
                as the detox pose. Gently extend your spine and stretch your arms to the sides and raise up as you
                inhale. When you exhale, slowly twist the upper body towards the right with the support of your lower
                arms. Keep the right hand on the top of the chair and the left hand on the side. After around 3-5
                breaths, release and slowly return to the front. Repeat the same for the left side.

            </p><br>
            <h4>Pilates: </h4>
            <img src="{% static 'myapp/images/pilates1.jfif'%}" alt="">
            <p>
                Pilates is great for seniors with osteoporosis. But a traditional Mat Pilates class is ill-advised. Many
                of the Mat exercises can be modified for safety for someone with osteoporosis, but the Roll Up, Roll
                Over, Jack Knife, Spine Twist, and Saw should not be practiced. You want to steer clear of any exercises
                involving bending forward or rolling on your back, as well as twisting at the spine. In general, it is a
                great idea to find a Pilates teacher who has knowledge of the dos and don'ts of Pilates for osteoporosis
                and take a class or some private instruction with them first.</p><br>
            <b> 1. Pilates Kneeling Rear Leg Raise:</b>
            <p>
                GettyImages-546804100Have your patient position their body on all fours with their weight evenly
                distributed between their elbows and knees. Have them gently engage their core and extend their right
                leg back with their toes pointed and hovering slightly above the ground. While keeping the leg straight
                your patient will then lift their leg as high as they can without causing discomfort or arching their
                back. Lower the leg slowly back down to starting, and then switch legs.
                This workout is designed to engage your core and lower body, which will help them to build stronger
                glutes, ultimately improving mobility.</p><br>
            <b>2. Mermaid:</b>
            <p>
                GettyImages-1018739684The Mermaid is a great movement for older adults because it will lengthen the side
                and provide inner flow. To start, have your patient sit on their mat with both of their legs folded to
                the left side. Place the right hand on the floor to give the body support when they sit up. While
                keeping the left shoulder down, extend the left arm straight up and lengthen the spine as the body
                stretches to the side. The opposite (support) hand will move farther away from the body to increase the
                stretch but be sure your patient isn't over-challenging their body or that their ribs aren't popping
                forward.
                To return back to start, send the left sit bone down and then engage the core to bring the torso up.
                Repeat on the other side to complete the full movement.</p><br>
            <b> 3. Side Circles:</b>
            <p>
                GettyImages-512821274Side circles can improve hip joint flexibility and improve balance. To perform a
                side circle, have your patient lay on their side and extend their leg towards the ceiling (without
                causing discomfort). The leg will then move counterclockwise in small circles. And then clockwise in
                small circles. Lower leg and switch sides to reap the full-benefits of this Pilates movement.</p><br>

            <h4>Walking: </h4>
            <p>
                10 BENEFITS OF MORNING WALK FOR THE ELDERLY

                1. Improves Circulation
                2. Prevents Weakening of Bones
                3. Enhances Lifespan
                4. Lightens the Mood
                5. Lose Weight
                6. Improves Sleep
                7. Improves Breathing
                8. Slows Mental Decline
                9. Lowers the Risk of Alzheimer’s Disease
                10. Boosts Body Immunity
            </p><br>
            <img src="{% static 'myapp/images/Walking Senior.png'%}" alt=""><br>
            <h4>Nutrition info for the day:</h4><br>
            <p>Fruits and vegetables (choose different types with bright colors)
                Whole grains, like oatmeal, whole-wheat bread, and brown rice.
                Fat-free or low-fat milk and cheese, or soy or rice milk that has added vitamin D and calcium.
                Seafood, lean meats, poultry, and eggs.
                Beans, nuts, and seeds.</p>
        </div>
    </div>
</div>
{% endblock %}
