{% extends 'myapp/base.html' %}
{% block content %}
{% load static %}

<!--<div class="container">-->
<div class="row">
    <div class="col-sm-6 mx-auto" style="margin-top: 70px">
        <div class="form-group row">
            <h1>The Key nutrients you need</h1><br>
            <h4>Diet and workout tips to stay fit in your 40s</h4><br>
            <p>What you eat is even more important as you enter your 40s. Women need protein (meat, fish, dairy, beans,
                and nuts), carbohydrates (whole grains), fats (healthy oils), vitamins, minerals, and water. These foods
                have been linked to some disease prevention, such as osteoporosis, high blood pressure, heart disease,
                diabetes, and certain cancers. The American Academy of Family Physicians supports the development of
                healthy food supply chains in supplemental nutrition programs so as to broaden the availability of
                healthy food.</p><br>
            <img src="{% static 'myapp/images/Best Ever Fruit Salad.png'%}" alt=""><br>
            <h5>Nutrition</h5><br>

            <p>If you haven’t gotten serious about your nutrition by the time you are 40, it’s time to start.<br>

                Choose a variety of vegetables, including dark green, red and orange, beans and peas, starchy and
                non-starchy.<br>
                Eat a variety of fruits.<br>
                Include grains in your daily diet. Half of your grains should be whole grains.<br>
                Stick to fat-free or low-fat dairy. This includes milk, yogurt, cheese, or fortified soy products.<br>
                Have protein at every meal. Healthy protein includes lean meat (chicken), seafood, eggs, beans and peas,
                nuts, seeds, and soy products.<br>
                Use healthy oils, such as olive oil.</p><br>
            <h4>Your 40-Something Meal Plan</h4><br>
            <b> 1.Breakfast:</b>
            <p> Wholegrain breakfast cereal, with reduced fat milk 60g cereal, 1 cup (250ml) reduced fat
                milk, 2 grain serves, 1 milk/yoghurt/cheese serve Reduced fat yoghurt 100g yoghurt ½ milk/yoghurt/cheese
                serve</p><br>
            <b>2.Morning Break:</b>
            <p>
                Coffee with milk 200ml (small coffee)</p><br>
            <b>3.Lunch:</b>
            <p>
                ASandwich with salad and chicken, 2 slices bread, 40g chicken, 1 teaspoon margarine, 1 cup
                salad vegetables, 2 grain serves, 1 vegetable serve, Apple 1 medium, 1 fruit serve</p><br>
            <b>4.Afternoon Snack:</b>
            <p>
                Unsalted nuts 30g 1 meat and/or alternatives serve Coffee with milk 200ml (small coffee)</p><br>
            <b> 5.Evening Treat:</b>
            <p>
                Gingerbread ice cream sandwich (fill 2 gingersnaps with one-half cup light vanilla
                ice</p><br>
            <b> 6.Dinner:</b>
            <p>
                To maintain a healthy balanced diet, pick foods with a high satiety value that keep you full
                for longer and curb midnight bingeing. Fill your plate with greens to load up on vitamins and minerals.
                Limit carbs but don't cut them off. Combine them with some healthy fats like fish, nuts and seed oils
            </p>
            <h4>Exercises to get pumped up</h4><br>
            <p>First things first, start with a warm-up and try to work out at least 3 times a week. If you have
                started working out recently, a 20 minutes session will do for the first few weeks. Go for dynamic
                stretches and post exercise finish with a cool-down ritual without fail</p><br>
            <h4>Plank:</h4><br>
            <p>The plank is a seemingly straightforward and simple balancing pose that strengthens your abs and back
                muscles. But there's more to this move than mindlessly hanging out in one position for 30 to 60 seconds.<br>
                STEPS:<br>

                1.Hold your head and neck in a neutral alignment — not looking forward or at your feet but straight down
                in front of your face.<br>
                2.Actively press through your hands (or forearms if you're in a low plank) and engage your upper-back
                muscles to press up and out of your shoulders; don't collapse your upper body toward the floor.<br>
                3."Ensure a straight line from your shoulders to your heels, and avoid an overly arched lower back,"
                Perkins says.<br>
                4.Draw your obliques in and your bellybutton toward your spine to keep your core stable.<br>
            </p><br>
            <img src="{% static 'myapp/images/plank man.png'%}" alt=""><br>
            <h4>Elliptical machine cardio:</h4><br>
            <p>
                An elliptical trainer or cross-trainer (X-trainer) is a stationary exercise machine which you can use
                for stair climbing, walking, running, or sprinting exercises. It can be a great, low-impact cardio that
                burns calories.<br>

                How to use an Elliptical machine<br>
                1.tep onto the machine facing the monitor. Be careful stepping onto the machine. The pedals may start to
                move as you do and it can be easy to lose your balance. Grab the handlebars as you step on to help you
                stay balanced.<br>
                2.Begin pedaling to turn it on. Taking a few steps forward on the machine should power up the display.
                If not, look for a start button.<br>
                3.Start pedaling at an even pace. Your arms should be swinging with the handles. When your left foot
                goes down, straightening your leg, the right handle should be pulled toward your body. Same for when
                your right leg goes down.<br>
                4. Do not lock your knees. Keep the knees slightly bent when straightening the leg on each stroke.
                Notice
                that it is similar to riding a bike without ever sitting down, but with less of an up and down range of
                motion<br>
                5.Turn up the resistance.[2] Faster is not always better on the elliptical machine. Turning up the
                resistance will make it so that you have to push harder on the pedals which will give your muscles a
                better work out.<br>
                6.Change up your direction on the pedals.<br>
                7.Use the swing arms.<br>
                8.Increase the incline and resistance as you go<br>
            </p><br>
            <img src="{% static 'myapp/images/ell mach.jfif'%}" alt=""><br>
            <h4>Squats: </h4><br>
            <p>
                Squats help build muscles throughout your body especially your knee muscles, helps burn fat,
                improves your digestion, blood circulation and flexibility and increase your core strength. Do three
                sets of 15 reps.<br>
                Here's a primer on how exactly to do the perfect squat.<br>

                1.Stand facing forward with your chest up.<br>
                2.Place your feet shoulder-width apart or slightly wider. Extend your hands straight out in front of you
                to help keep your balance. You can also hold your hands at chest level or place them behind your head.
                Bend at your knees and hips, sticking your butt out like you're sitting into an imaginary chair. Keep
                your chest lifted and your spine neutral, and do not let your lower back round.<br>
                3.Squat down as low as you can, keeping your head and chest lifted. Keep your knees over your ankles<br>
                4.press your weight back into your heels.<br>
                5.Keep your body tight, and push through your heels to bring yourself back to the starting position.<br>

            </p><br>
            <<img src="{% static 'myapp/images/The Squat Workout.jfif'%}" alt=""><br>
            <h5>Jogging: </h5><br>
            <p>
                Jogging is good for you and is usually performed for great health benefits. Joggers can lose weight and
                strengthen their heart muscles with this exercise.<br>
                This activity is recommended for those who can perform exercise faster than walking, but are not able to
                run.<br>
                How to Jog Properly:<br>
                1.Jogging requires little equipment, but one of the most important equipment is the jogging shoes. <br>
                2.Decide where do you wish to jog.<br>
                3.Af you're new to exercise or out of shape, give your body time to adapt by walking first. <br>
                4.Remember to stretch before each jog. <br>
                5.Start off slow on your first few runs. Run for 5 minutes and then walk for 2 minutes.<br>
                6.Having the proper jogging form can impacts your performance.<br>
                7.Running with someone else could be a great way to stay motivated.<br>
            </p><br>
            <img src="{% static 'myapp/images/jog.jfif'%}" alt=""><br>
            <h4>Nutrition info for the day:</h4>
            <p>Less than 10% of your daily calories,Less than 2,300 milligrams (mg) per day of sodium, Not more than one
                drink per day of alcohol and have a Calcium, dietary fiber, potassium, vitamin A and vitamin C</p><br>
        </div>
        <br>
        <div class="form-group row">
            <h4>Diet and workout tips to stay fit in your 50s</h4><br>
            <p>Want a simple recipe to fight aging? The ingredients are easy to find. The right mix of nutrients -- and
                some regular exercise -- will let you feel and look your best.
                When you eat right, you'll help get your weight under control, keep your bones strong, and prevent heart
                disease. It's all about making smart choices.
            </p><br>
            <h4>Nutrition Basics</h4><br>
            <p>
                Boost calcium and vitamin D. That means three to four 8-ounce servings of low-fat dairy every day. If
                you are lactose-intolerant, eat hard cheese, yogurt, or kefir; canned salmon; broccoli; and legumes. You
                can also try food or drinks, like orange juice, that have the nutrients added in by the manufacturer.
                They'll say "fortified" on the label.
            </p><br>
            <h4>Your 50-Something Meal Plan</h4><br>
            <b>1.Breakfast:</b>
            <p>
                /2 whole wheat bagel, 2 tablespoons creamy peanut butter, 1 medium banana and 1 cup calcium
                and vitamin D-fortified orange juice</p><br>
            <b>2.Morning Snack:</b>
            <p>
                Coffee 1/4 cup milk</p><br>
            <b>3.Lunch:</b>
            <p>
                Tuna salad sandwich, 2 slices 100% whole wheat bread, 2 ounces canned tuna, 2 teaspoons
                mayonnaise, 2 tablespoons chopped celery, 1 medium leaf lettuce, 4 baby carrots, 1/4 cup raisins</p><br>
            <b>4.Afternoon Snack: </b>
            <p>
                1/2 medium apple</p><br>
            <b>6.Dinner:</b>
            <p>Spaghetti & meatballs,
                1 cup cooked spaghetti,
                1/4 cup spaghetti sauce,
                1/4 cup diced tomatoes (canned, no salt added),
                3 medium meatballs,
                1 tablespoon parmesan cheese,
                Garden salad,
                1 cup mixed greens,
                3 slices cucumber,
                1/4 cup cubed avocado,
                1/4 cup garbanzo beans (canned, low sodium),
                3 tablespoons shredded, reduced-fat cheddar cheese,
                1 tablespoon ranch dressing,
                1 cup tap water,
            </p><br>
            <h4>Nutrition info for the day: </h4><br>
            <p>
                Eat lean proteins, Enjoy a vegetarian meal a few times a week, Cut down on salt, Choose fats wisely,
                Curb the sweet.
            </p><br>
            <p>
                You Need Exercise Now More Than Ever
                Let's face it: A 50- or 60-year-old body isn't the same as a 20-year-old one. You won't be able to do
                the same things -- nor should you. But exercise is key to your independence and a good quality of life
                as you age. So what do you need to think about to be healthy without hurting yourself?
            </p><br>
            <h4>Exercises to get pumped up</h4><br>
            <p>First things first, start with a warm-up and try to work out at least 3 times a week. If you have
                started working out recently, a 20 minutes session will do for the first few weeks. Go for dynamic
                stretches and post exercise finish with a cool-down ritual without fail</p>
            <h4>Functional trainer exercises: </h4><br>
            <p>
                Functional trainer exercises not only work your major muscle groups, but engage the smaller
                stabilization muscles that surround them too. They’re an amazingly effective way to target varied areas
                of the body and a popular style of workout in any gym.
            </p><br>
            1.Cable Reverse Lunge<br>
            2.Side Plank Cable Row<br>
            3.Cable Front Squat<br>
            4.Cable Step Up<br>
            <img src="{% static 'myapp/images/Functional Trainer Exercises.jfif'%}" alt=""><br>
            <h4>Glute bridge: </h4><br>
            <p>
                The glutes are often overlooked but they’re a key muscle group,” says Page. “Strong glutes will make
                everything from running and squatting easier, as well as helping to keep you injury-free. One of the
                most common causes of lower-back pain is poor glute activity.
                Duration: 5-7 minutes, per day<br>

                “The bridge is a great way to work on your glutes. Lying on your back with knees bent and feet flat on
                the floor, squeeze your glutes and push your heels into the floor to lift your hips into a bridge. You
                should finish with your hips straight and abdominals tight.”<br>
            </p><br>
            <img src="{% static 'myapp/images/glute-bridge.jpg'%}" alt=""><br>
            <h4>Squat jump:</h4><br>
            <p>
                Jump squats are the power-packed HIIT version of squats. They are also known as squat jumps. This
                exercise works on your glutes, lower abs, and leg muscles.<br>
                Stand with your feet hip-width apart and your toes pointing out slightly. <br>
                Keeping your back straight, bend your knees and sit back until your thighs are parallel with the floor
                (or as close as you can get).<br>
                Then explode straight up, pushing through your heels, into a jump.<br>
                Land softly and go straight into the next rep.<br>
                Aim to do either three sets of ten reps or three sets of 30 seconds.
            </p><br>
            <img src="{% static 'myapp/images/jump-squat.jpg'%}" alt=""><br>
            <h4>Windmill:</h4><br>
            <p>
                If you’re thinking about trying the windmill exercise, you undoubtedly already know one thing: It looks
                and sounds really cool.<br>

                But we care about more than just appearances. This exercise is just as good at building total-body
                stability, improving core strength, and working those all-powerful glutes, says Ryan Campbell, a
                kinesiologist and training specialist at Anytime Fitness of Southern Wisconsin. Just like those
                windmills you see out in the fields, with the windmill exercise, all of the power comes from the center,
                he explains.<br>

                Here’s how to do the move with perfect form, a few fun variations, and all the benefits you can get from
                it.<br>
                1.Stand with your feet slightly wider than shoulder-width apart. Turn the toes of your left foot
                straight<br>
                to the side at 90 degrees. Reach your right arm up to the ceiling and let your left hand hang down at
                your side. Look up at your right hand.<br>
                2.Engage your core and push your hips toward your right side. Slide your left hand down your left leg
                toward your ankle as far as possible without putting pressure on your leg —use your core to stabilize
                yourself. Your left arm should be perpendicular to the floor the entire time. The right leg should
                remain straight. You can allow a slight bend in your left leg to avoid locking your knee.<br>
                3.Pause, then push down through your feet to rise back up to start, keeping your core engaged and your
                spine long the whole time.<br>
                4.Repeat all reps, then switch sides.
            </p><br>
            <img src="{% static 'myapp/images/windmill men.jfif'%}" alt=""><br>
        </div>
    </div>
</div>

{% endblock %}